*{
    margin: 0px;
    padding: 0px;
}

.contenidoZoom{
    width: 20rem;
    margin: auto;
    text-align: center;
    height: 40rem;
    position: static;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 6rem;
}
.encabezado{
    background-color: #1b1f4e;
    border-radius: 15px 15px 0px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    width: 100%;
    cursor: context-menu;
}
.botonesContenido{
    padding-top: 2rem;
    border: 1px solid red;
    height: 32rem;
}
.boton{
    border-radius: 20px;
    background-color: #2c6fec;
    border: none;
    width: 7rem;
    height: 7rem;
    margin: 10px;
}
#reunion{
    background-color: #f0701a;
    margin-top: 15px;
    width: 8rem;
    height: 8rem;
}
.botonesMenu{
    width: 25%;
    text-align: center;
    border-left: 1px solid black;
    font-size: 10px;
}
.menu{
    background-color: #ececf1;
    cursor: context-menu;
    border-radius: 0px 0px 15px 15px;
}
a{
    text-decoration: none;
}
.txtBoton{
    color: white;
    font-size: 1rem;
}
.imgBoton{
    width: 60%;
}